extends layout

block content
  .row
    .col-xs-12.visible-xs
      br
      br
  .row
    .col-sm-12.text-center
      h3 H. Cole Wiley
      h5 sculptor &amp; digital menace
  .row
    .col-sm-12.text-center
      br
  .row
    .col-sm-10.col-sm-offset-1
      {% for media in medias %}
      .col-sm-4.artist-block
        a(href='#{artist.get_absolute_url()}')
          img.md-thumbnail.img-thumbnail(src="#{media.thumb()}")
      {% endfor %}
